.div1 {
  font-family: "GT Pressura", monospace;
}
.spa {
  margin-left: 60px;
}
.span {
  margin-left: 30px;
}
.img1 {
  width: 100px;
  margin-left: 100px;
  margin-right: 50px;
}
.button1 {
  cursor: pointer;
  color: "white";
  margin-left: 640px;
  margin-top: 40px;
  padding: 10px 18px;
  border-radius: 2px;
  border-color: black;
  background-color: #add8e6;
  font-family: "GT Pressura", monospace;
  margin-bottom: 30px;
}
.div2 {
  margin-top: 70px;
  text-align: center;
  letter-spacing: 4px;
}
.div3 {
  margin-top: 80px;
  font: 60px Value, serif;
  margin-left: 300px;
  margin-right: 300px;
  font-weight: 900;
}
.div4 {
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  font-weight: 900;
}
.div5 {
  margin-top: 80px;
  margin-left: 200px;
  letter-spacing: 3px;
  line-height: 30px;
}
.img2 {
  margin-top: 100px;
  width: 130px;
  margin-left: 200px;
  margin-right: 200px;
}
.do {
  text-align: center;
  font-size: 12px;
  margin-bottom: 100px;
}
.imag {
  margin-left: 630px;
  margin-top: 40px;
  width: 25px;
  margin-bottom: 60px;
}
.imagee {
  margin-left: 20px;
  margin-top: 40px;
  width: 20px;
  margin-bottom: 60px;
}
.SignUp {
  border: "1px solid #ccc";
  border-radius: 8px;
  padding: 20px;
  width: 800px;
  background-color: #f9f9f9;
  position: fixed;
  top: 50%;
  left: 50%;
  line-height: 35px;
  padding-bottom: 40px;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
